body{

font-family:Arial;

background:#191414;

color:white;

}

.container{

width:500px;

margin:50px auto;

text-align:center;

}

input{

width:70%;

padding:10px;

margin-right:10px;

}

button{

padding:10px 20px;

background:#1DB954;

border:none;

color:white;

cursor:pointer;

}

ul{

margin-top:30px;

list-style:none;

padding:0;

}

li{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px;

background:#282828;

margin:10px 0;

}

.remove{

background:red;

}