body{

font-family:Arial;
background:#121212;
color:white;
text-align:center;

}

form{

width:350px;
margin:100px auto;

}

input{

width:100%;
padding:12px;
margin:10px;

}

button{

padding:10px 25px;
background:#1DB954;
border:none;
color:white;
cursor:pointer;

}

div{

margin-top:30px;

}